:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --white-color: #ffffff;
  --hover-logo-web-color: #2196f3;
  --logo-studio-color: #000000;
  --temporary-background-color: #808080;
  --button-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --social-logo-base-color: #afb1b8;
}

/* cyrillic-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v15/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCFPrEHJA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v15/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCMPrEHJA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v15/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCHPrEHJA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v15/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCGPrEHJA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v15/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCIPrE.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Roboto Black"), local("Roboto-Black"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Roboto Black"), local("Roboto-Black"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfABc4EsA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Roboto Black"), local("Roboto-Black"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Roboto Black"), local("Roboto-Black"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Roboto Black"), local("Roboto-Black"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Roboto Black"), local("Roboto-Black"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Roboto Black"), local("Roboto-Black"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
}

.section-title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 28px;
  line-height: 1.18;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  text-align: center;
}

.list {
  margin-top: 0px;
  margin-bottom: 0px;
  list-style: none;
}

li {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer {
  background-color: var(--footer-background-color);
}

.page-header {
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  position: relative;
  display: block;
  text-align: left;
  background-color: var(--white-color);
  margin-bottom: 0px;
  border-bottom: 1px solid #ececec;
}

.container.main-nav {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .container.main-nav {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container.main-nav {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container.main-nav {
    width: 1200px;
  }
}

.button-header {
  margin: 0px;
  border: none;
  background-color: transparent;
  margin-left: auto;
  margin-right: 23px;
  margin-top: 22px;
  margin-bottom: 22px;
}

.button-header:hover .icon-close,
.button-header:hover .icon-menu,
.button-header:focus .icon-close,
.button-header:focus .icon-menu {
  fill: var(--hover-logo-web-color);
}

@media screen and (min-width: 768px) {
  .button-header {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .button-header {
    margin-left: 269px;
  }
}

.button-header .icon-close {
  display: none;
}

.button-header.is-open .icon-close {
  display: block;
}

.button-header.is-open .icon-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .logo-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container-menu {
  display: none;
}

.container-menu.is-open {
  display: block;
}

@media screen and (max-width: 767px) {
  .container-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    text-align: center;
    border-top: 1px solid #ececec;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .container-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 81px;
  }
}

@media screen and (min-width: 1200px) {
  .container-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 85px;
  }
}

.page-header__logo {
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 15px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .page-header__logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-web {
  color: var(--hover-logo-web-color);
}

.logo-studio {
  color: var(--logo-studio-color);
}

@media screen and (max-width: 767px) {
  .site-nav {
    padding-left: 0px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .site-nav .item + .item {
    margin-top: 40px;
  }
  .site-nav .link {
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0px;
  }
  .site-nav .item + .item {
    margin-left: 50px;
  }
  .site-nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-right: 305px;
  }
}

.site-nav .item {
  padding-left: 0px;
}

.site-nav .link {
  color: var(--primary-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .site-nav .link {
    padding-top: 32px;
    padding-bottom: 26px;
  }
}

.site-nav .link:hover {
  color: var(--hover-logo-web-color);
}

.site-nav .link.current {
  position: relative;
  color: var(--hover-logo-web-color);
}

.site-nav .link.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--hover-logo-web-color);
}

.mail-tel-box .tel,
.mail-tel-box .mail {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .mail-tel-box .tel,
  .mail-tel-box .mail {
    font-size: 18px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mail-tel-box .tel,
  .mail-tel-box .mail {
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .mail-tel-box .tel,
  .mail-tel-box .mail {
    font-size: 14px;
    line-height: 1.14;
  }
}

.mail-tel-box .tel:hover, .mail-tel-box .tel:focus,
.mail-tel-box .mail:hover,
.mail-tel-box .mail:focus {
  color: var(--hover-logo-web-color);
  cursor: pointer;
  padding-top: 16px;
}

@media screen and (max-width: 767px) {
  .item.mail-tel-box + .mail-tel-box {
    padding-top: 16px;
  }
}

.mail-tel-icon {
  margin-right: 10px;
  fill: var(--second-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-tel-box .mail:hover .mail-tel-icon,
.mail-tel-box .tel:hover .mail-tel-icon {
  fill: var(--hover-logo-web-color);
}

@media screen and (max-width: 767px) {
  .mail-tel-info {
    padding-left: 0px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .mail-tel-info {
    padding-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .mail-tel-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    padding-left: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .mail-tel-info .item + .item {
    margin-left: 30px;
  }
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero-img.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--temporary-background-color);
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .hero {
    height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero-img@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero-img@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero > .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding-top: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 30px;
    color: var(--white-color);
  }
}

@media screen and (max-width: 1199px) {
  .hero > .hero-title {
    margin-top: 0px;
    margin-bottom: 30px;
    padding-top: 118px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
  }
}

.hero {
  margin-right: auto;
  margin-left: auto;
}

.hero-button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--hover-logo-web-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

@media screen and (max-width: 767px) {
  .soft-list .item {
    max-width: 450px;
  }
  .soft-list .item + .item {
    margin-top: 30px;
  }
}

.soft-list > .item::before {
  display: block;
  content: "";
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--button-background-color);
}

@media screen and (max-width: 767px) {
  .soft-list > .item::before {
    height: 120px;
  }
}

.soft-list > .item:nth-child(1)::before {
  background-image: url("../images/soft-1.svg");
}

.soft-list > .item:nth-child(2)::before {
  background-image: url("../images/soft-2.svg");
}

.soft-list > .item:nth-child(3)::before {
  background-image: url("../images/soft-3.svg");
}

.soft-list > .item:nth-child(4)::before {
  background-image: url("../images/soft-4.svg");
}

.section-title.no-visual {
  display: none;
}

.soft-list {
  padding-left: 0px;
}

@media screen and (min-width: 768px) {
  .soft-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .soft-list {
    margin-top: -15px;
    margin-bottom: -15px;
  }
}

.soft-list .item {
  margin-right: 0px;
  margin-left: 0px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .soft-list .item {
    width: calc((100% - 4 * 15px) / 2);
    width: 354px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .soft-list .item {
    width: calc((100% - 8 * 15px) / 4);
    width: 270px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .soft-list .item + .item {
    margin-left: 30px;
  }
}

.section-soft {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .section-soft {
    text-align: left;
  }
}

.soft-details {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--second-text-color);
  text-align: left;
}

@media screen and (min-width: 1200px) {
  .tech-list.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tech-list .item + .item {
    margin-left: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .section.is-hidden {
    display: none;
  }
}

.section-title {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 50px;
}

.tech-position {
  position: relative;
}

.section-work {
  position: absolute;
  bottom: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 370px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team-list .thumb {
  height: 320px;
}

@media screen and (min-width: 768px) {
  .team-list .thumb {
    height: 260px;
  }
}

.thumb img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.team-list.list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0px;
}

.team-list .item {
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list .item {
    width: calc((100% - 4 * 15px) / 2);
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list .item {
    width: 270px;
  }
}

@media screen and (max-width: 767px) {
  .team-list .item + .item {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list .item + .item {
    margin-left: 30px;
  }
}

.team-social-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0px;
}

.team-social-logo .soc + .soc {
  margin-left: 10px;
}

.team-list .item {
  padding-bottom: 24px;
  background-color: var(--white-color);
}

.section .team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.section .team-position {
  margin-bottom: 16px;
  margin-top: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--second-text-color);
}

.section.background-color {
  background-color: var(--button-background-color);
}

.section-title.team {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-title.team {
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
  }
}

.soc > .logo {
  display: block;
  fill: var(--social-logo-base-color);
  background-position: 50% 50%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc > .logo:hover, .soc > .logo:focus {
  fill: var(--white-color);
}

.soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc:hover, .soc:focus {
  background-color: var(--hover-logo-web-color);
}

.team-social-logo > .soc:hover .logo {
  fill: var(--white-color);
}

.customers-list.list {
  padding-left: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .customers-list.list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .customers-list.list {
    margin: -15px;
  }
}

.customers-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-color: #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .customers-list .item {
    width: calc((100% - 4 * 15px) / 2);
    width: 170px;
    height: 90px;
    margin: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers-list .item {
    width: calc((100% - 6 * 15px) / 3);
    width: 226px;
    height: 90px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .customers-list .item {
    width: calc((100% - 12 * 15px) / 6);
    width: 170px;
    height: 90px;
    margin: 15px;
  }
}

.customers-list .item:hover, .customers-list .item:focus {
  border-color: var(--hover-logo-web-color);
  cursor: pointer;
}

.section-title.customers {
  margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
  .section-title.customers {
    margin-bottom: 30px;
  }
}

.customers-list .logo {
  fill: var(--social-logo-base-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list .item:hover .logo {
  fill: var(--hover-logo-web-color);
}

.footer-social-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0px;
}

.adress-container .logo {
  outline: 1px solid red;
  margin-top: 60px;
}

@media screen and (max-width: 1199px) {
  .adress-container .logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .adress-container .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.footer .adress-container .adress {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .footer .adress-container .adress {
    margin-top: 20px;
  }
}

.adress-container {
  margin-top: 60px;
  margin-bottom: 60px;
}

.adress .mailtel:nth-child(-n + 2) {
  margin-bottom: 9px;
}

@media screen and (max-width: 767px) {
  .adress .mailtel:nth-child(-n + 2) {
    margin-bottom: 8px;
  }
}

.adress > .mailtel {
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.adress .city {
  font-size: 14px;
  line-height: 24px;
  color: var(--white-color);
  font-style: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}

.footer-social-logo .logo + .logo {
  margin-left: 10;
}

.footer .logo-studio-footer {
  color: var(--white-color);
}

.footer-social-logo .item + item {
  margin-left: 10px;
}

.footer-social-logo .soc {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-logo .soc:hover, .footer-social-logo .soc:focus {
  background-color: var(--hover-logo-web-color);
}

.footer-social-logo .logo {
  fill: var(--white-color);
}

.join-container {
  margin-left: 69px;
}

@media screen and (max-width: 767px) {
  .join-container {
    margin-left: 0px;
  }
}

.footer-social-logo .soc + .soc {
  margin-left: 10px;
}

.join-container .footer-title {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

@media screen and (max-width: 1199px) {
  .sign-up-container {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .sign-up-container {
    margin-left: 94px;
  }
}

.sign-up-container .list-email {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .sign-up-container .list-email {
    max-width: 450px;
  }
}

.sign-up-container .list-email {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1199px) {
  .sign-up-container .list-email {
    max-width: 450px;
  }
}

.sign-up-container .footer-button {
  display: inline-block;
}

.sign-up-container .footer-title {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

@media screen and (min-width: 1200px) {
  .sign-up-container .footer-title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .sign-up-container .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0px;
  }
}

.sign-up-container .list {
  padding-left: 0px;
}

.footer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  background-color: var(--hover-logo-web-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 0px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 148px;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.footer-button .button-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.email-input {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-right: 12px;
  margin-left: 16px;
  background-color: var(--footer-background-color);
}

@media screen and (min-width: 1200px) {
  .email-input {
    width: 358px;
  }
}

@media screen and (min-width: 768px) {
  .adress-join-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .adress-container {
    margin-right: 69px;
    padding-bottom: 0px;
  }
  .adress-container .adress {
    margin-top: 20px;
  }
  .join-container {
    margin-left: 0px;
  }
}

.section.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .section.portfolio {
    padding-top: 66px;
    padding-bottom: 60px;
  }
}

.portfolio-projects {
  margin: 0px;
  display: none;
}

.footer.section.no-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}

.container-menu {
  z-index: 999;
}

.button.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0px;
  margin-top: 0px;
}

@media screen and (max-width: 767px) {
  .button.block {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .button.block {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .button.block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

.button .button-portfolio {
  margin-left: 8px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border: 0px;
  border-radius: 4px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

@media screen and (max-width: 767px) {
  .button .button-portfolio:nth-last-child(4) {
    margin-left: 0px;
  }
}

.button .button-portfolio:hover, .button .button-portfolio:focus {
  color: var(--white-color);
  background-color: var(--hover-logo-web-color);
}

.button-portfolio.no-margin {
  margin-left: 0px;
}

@media screen and (max-width: 767px) {
  .button-portfolio:nth-last-child(-n + 2) {
    margin-top: 15px;
  }
  .button-list:nth-last-child(4) {
    margin-left: 0px;
  }
}

.container.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-element {
  width: 450px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

.flex-element:hover, .flex-element:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .flex-element {
    width: calc((100% - 4 * 15px) / 2);
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .flex-element {
    width: calc((100% - 6 * 15px) / 3);
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
  }
}

.flex-element:hover {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 1200px) {
  .flex-element:nth-child(3n) {
    margin-right: 0px;
  }
  .flex-element:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .flex-element:not(:last-child) {
    margin-bottom: 30px;
  }
}

.list-projects {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list-projects {
    margin-top: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .list-projects {
    margin-top: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
  }
}

.link-projects {
  text-decoration: none;
  color: var(--primary-text-color);
}

.link-projects .filter-project {
  margin-top: 0px;
  margin-bottom: 4px;
  padding-left: 0px;
  padding-bottom: 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.filter-name {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  width: 322px;
  color: var(--second-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.filter-details {
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
}

.filter-picture-div {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-projects .flex-element:hover .overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.card-content {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.thumb-portfolio {
  height: 294px;
}

.thumb-portfolio img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.card-content {
  text-align: left;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-60%, -60%) scale(0.1);
          transform: translate(-60%, -60%) scale(0.1);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: var(--white-color);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(-8px, 8px);
          transform: translate(-8px, 8px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 0px;
  padding: 0px;
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.js-speaker-form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.form {
  text-align: center;
}

.form-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--primary-text-color);
}

@media screen and (min-width: 1200px) {
  .form-title br {
    display: none;
  }
}

.form-list {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 0px;
}

@media screen and (max-width: 1199px) {
  .form-field {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .form-field {
    width: 448px;
  }
}

.form-field:not(:last-child) {
  margin-bottom: 28px;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label-comment {
  position: absolute;
  padding-top: 15px;
  padding-left: 16px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  outline: none;
}

.form-input:hover, .form-input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.form-input.comment {
  height: 120px;
}

.form-input:focus + .form-label,
.form-input:hover + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: var(--hover-logo-web-color);
  -webkit-transform: translate(-28px, -38px);
          transform: translate(-28px, -38px);
}

.form-input:focus + .form-label-comment,
.form-input:hover + .form-label-comment,
.form-input:not(:placeholder-shown) + .form-label-comment {
  color: var(--hover-logo-web-color);
  -webkit-transform: translateY(-36px);
          transform: translateY(-36px);
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 31px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

@media screen and (min-width: 1200px) {
  .agreement {
    font-size: 14px;
  }
}

.agreement-text {
  margin-top: 0px;
  margin-bottom: 0px;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  border-radius: 4px;
  border: 2px solid #212121;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox:checked + .icon {
  background-color: var(--hover-logo-web-color);
  border-color: var(--hover-logo-web-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal-send {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--hover-logo-web-color);
  outline: none;
}

textarea {
  resize: none;
}

.logo-form {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .logo-form,
.form-input:hover ~ .logo-form {
  fill: var(--hover-logo-web-color);
}
/*# sourceMappingURL=main.css.map */