.section.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-projects {
  margin: 0px;
  display: none;
}

.footer.section.no-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}
