.section.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (max-width: 1199px) {
    padding-top: 66px;
    padding-bottom: 60px;
  }
}

.portfolio-projects {
  margin: 0px;
  display: none;
}

.container-menu {
  z-index: 999;
}
