.footer-social-logo {
  // @media screen and (max-width: 1199px) {
  //   display: flex;
  //   justify-content: center;
  //   padding-left: 0px;
  // }
  display: flex;
  justify-content: center;
  padding-left: 0px;

  // display: flex;
  // width: 207px;
  // justify-content: space-between;
  // padding-left: 0px;
}
.adress-container .logo {
  text-decoration: none;
  // outline: 1px solid red;
  // margin-top: 60px;

  @media screen and (max-width: 1199px) {
    font-family: Raleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
  }
  @media screen and (min-width: 1200px) {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}
.footer .adress-container .adress {
  margin-top: 20px;

  // @media screen and (max-width: 767px) {
  // }
  color: var(--white-color);
  // padding-top: 10px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.adress-container {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.adress .mailtel:nth-child(-n + 2) {
  @media screen and (max-width: 1199px) {
    margin-bottom: 8px;
  }
  margin-bottom: 9px;
}

.adress > .mailtel {
  display: block;

  margin-top: 0px;
  margin-bottom: 0px;

  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
.adress .city {
  font-size: 14px;
  line-height: 24px;
  color: var(--white-color);
  font-style: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}

.footer-social-logo .logo + .logo {
  margin-left: 10;
}

.footer .logo-studio-footer {
  color: var(--white-color);
}
.footer-social-logo .item + item {
  margin-left: 10px;
}

.footer-social-logo .soc {
  background-color: rgba(255, 255, 255, 0.1);
  &:hover,
  &:focus {
    background-color: var(--hover-logo-web-color);
  }
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-logo .logo {
  fill: var(--white-color);
}
