.join-container {
  @media screen and (max-width: 767px) {
    margin-left: 0px;
  }
  // margin-left: 69px;
}

.footer-social-logo .soc + .soc {
  margin-left: 10px;
}

.join-container .footer-title {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}
