.join-container {
  margin-left: 69px;
}

.join-container .footer-title {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 21px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}
