.mail-tel-box .tel,
.mail-tel-box .mail {
  font-weight: 500;
  letter-spacing: 0.02em;

  @media screen and (max-width: 767px) {
    font-size: 18px;
    line-height: 1.17;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.17;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }

  color: var(--second-text-color);
  &:hover,
  &:focus {
    color: var(--hover-logo-web-color);
    cursor: pointer;
    padding-top: 16px;
  }

  text-decoration: none;

  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item.mail-tel-box + .mail-tel-box {
  @media screen and (max-width: 767px) {
    padding-top: 16px;
  }
}

.mail-tel-icon {
  margin-right: 10px;
  fill: var(--second-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-tel-box .mail:hover .mail-tel-icon,
.mail-tel-box .tel:hover .mail-tel-icon {
  fill: var(--hover-logo-web-color);
}

.mail-tel-info {
  // outline: 2px solid green;

  @media screen and (max-width: 767px) {
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    // margin-top: 60px;
    // margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-left: 0px;
    margin-left: 84px;
    margin-top: 0px;
    margin-bottom: 0px;

    text-align: left;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
    // margin-left: auto;
    padding-left: 0px;

    margin-top: 0px;
    margin-bottom: 0px;
  }
}
// .mail {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-size: contain;
// }
// .tel {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-size: contain;
// }

.mail-tel-info .item + .item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}

// .mail-tel-box {
//   display: flex;
// }
