.page-header {
  background-color: var(--white-color);
  margin-bottom: 0px;
  border-bottom: 1px solid #ececec;
}

// .logo-nav {
//   display: flex;
//   align-items: center;
// }

//   .main-nav {
//     display: flex;
//     align-items: center;
//     height: 80px;
// }
